* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-image: url("/src/assets/img/Ola.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 5rem;
}

.card-body {
  background-color: rgba(91, 94, 100, 0.342);
  align-items: flex-start;
}

.redes-Container{
  margin:0;
  padding:0;
  box-sizing: border-box;
  display:flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
